##### SERVER #####
# Requires LNbits server and invoice api key. Websockets must be enabled on the server.
LNBITS_SERVER="your.lnbits.server"
LNBITS_INVOICE_KEY="f1fyourinvoicekeyheref1f"

##### TRAY #####
# This machine is built for six trays. Additional trays can be added or removed by editing var.py only.
# All pins below refer to BCM encoding
# Example:
# TRAYn='["label", amount, "unit", pin_in, pin_out]'
# TRAY1='["Coke", 1, "CAD", 17, 5]'
# TRAY2='["21UP", 100, "sat", 27, 6]'

TRAY0='["Coke", 1, "CAD", 22, 5]'
TRAY1='["21UP", 1000, "sat", 27, 6]'
TRAY2='["Bubly", 0.0002, "XAU", 12, 13]'
TRAY3='["Ginger Ale", 1, "USD", 0, 16]'
TRAY4='["Beer", 2100, "sat", 1, 19]'
TRAY5='["Cooler", 5, "EUR", 23, 20]'

# Pins used by display (BCM): 3.3V, 10, 11, 8, 25, 17, 24
# See /docs/pins.ods for a full pin inventory list

##### INVOICES ##### (optional)

MEMO_STRING="One {label} for {amount} {unit} from the 21UP machine. Thank you!"

#INVOICE_EXPIRY=60 # The time the user has to pay the invoice. Affects both the bolt11 invoice and the listening cycle. Default: 60

##### SYSTEM CONFIGURATION ##### (optional)

# DEBUG, INFO, WARNING, ERROR, CRITICAL
#DEBUG_LEVEL=INFO # Default: INFO

#PRODUCTION=TRUE # When set to False, the outgoing pins will be inverted. Useful for debugging. Default: True

#BUTTON_DELAY=500 # Time in milli-seconds in between button presses. If set too low, a button press may register as multiple presses. Default: 500
#RELAY_DURATION=500 # Time in milli-seconds that the machine will trigger the relay. If set too high, multiple sodas may be dispensed. Default: 500

##### DISPLAY #####

#SHOWDISPLAY=TRUE # When set to False, the display is deactivated. Useful for debugging. Default: True

#DISPLAY_DELAY=1 # Time in seconds that the display needs to refres. Used to extend the lifetime of the Lightning invoice. Default: 1
#SUCCESS_SCREEN_EXPIRY=1 # The time that the success or failure screen is shown. Affects the listening cycle. Default: 1

#FONTA=Font.ttc # The file name of the font to be used. Must be placed in the /pic directory
#FONTSIZEA=24 # The size of the font to be used

#FONTB=Rushfordclean.otf
#FONTSIZEB=32 # The size of the alternative font to be used